body{
    background-color:lavender;
    background-image: url(https://images.pexels.com/photos/1282315/pexels-photo-1282315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    font-family: 'Fjalla One';
   
}
h1 {
    text-align: center;
    color:black;
    
}
.H3 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1%;
    text-align: center;
    background:rgba(0,0,0,0.2);
    background-size: cover;
    color: white;
    height: 130px;
    margin: 0px;
    
}
p{
    color: white;
}

.container0{
   
    width: 100%;
    height:auto;
    justify-content: center;
    font-family: 'Fjalla One';  
    padding-left: 15px;
    padding-right: 21px;  
    
}
.container2{
    background: skyblue;
    height: 450px;
    background:url(https://images.pexels.com/photos/2549018/pexels-photo-2549018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.container3{
    background:url();
    height: 450px;
    
}
  
   

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

.submit{
    background:grey;
    width: 30%;
    padding: 5px 15px;
    font-family: 'Fjalla One';
    margin-top: 5%;
   
    
}

.duplicate{
   
   background: rgba(0, 0, 0, 0.4);
   height:auto;
    width: auto;
    border: 0.4rem;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    font-family: 'Fjalla One';
    text-align: center;
   
    
}

.return{
   
    height:401.27px;
    width: auto;
    border: 0.4rem;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

button{
    background:blue;
    width: 40%;
    padding: 5px 15px;
    font-family: 'Fjalla One';
   
}
#confirmed{
    height:300px;
    width: 407px;
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Fjalla One';
    text-align:center;
    background:url(https://cdn2.bigcommerce.com/server1600/yypeme/products/30/images/140/Smiley_face_merit_stamp_blue_01__48967.1358169819.380.250.jpg?c=2);
    text-align: center;
    background-color: inherit;
    background-size: contain;
    border-radius: 18%;
   
   
}

footer.page-footer {
    overflow: hidden;
    background: white;
}
button.btn.btn{
    background:black;
    text-align: center;
    color: white;
   
}
div#form{
    display: block;
    text-align: center;
}
div.card.card-image{
    background-size:auto;
    background: bottom;
}
