body{
    background-color:lavender;
    background-image: url(https://images.pexels.com/photos/1579062/pexels-photo-1579062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    font-family: 'Fjalla One';
   
}
h1 {
    text-align: center;
    color:black;
    
}
p{
    color: white;
}
.container{
   
    width: 100%;
    height: auto;
    justify-content: center;
    font-family: 'Fjalla One';
   
  
   
}
.container1{
  
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
   nav.navbar{
    background:rgba(62,69,81,.7);
    background: url(https://images.pexels.com/photos/2889681/pexels-photo-2889681.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    font-family: 'Fjalla One';
   
   }
   

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Fjalla One';
   
  }

.submit{
    background:grey;
    width: 30%;
    padding: 5px 15px;
    font-family: 'Fjalla One';
   
    
}


.duplicate{
   
   background:url(https://images.pexels.com/photos/2820254/pexels-photo-2820254.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
   height:auto;
    width: auto;
    border: 0.4rem;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    font-family: 'Fjalla One';
    text-align: center;
   
    
}

.return{
   
    height:auto;
    width: auto;
    border: 0.4rem;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    animation:blinkingText 0.8s;
    animation-iteration-count: 5;
    font-family: 'Fjalla One';
    background: rgba(0,0,0,0.2);
    text-align: center;
}



button{
    background:blue;
    width: 40%;
    padding: 5px 15px;
    margin-left:35%;
    font-family: 'Fjalla One';
   
}


#confirmed{
    height:200px;
    width: auto;
    border: 0.4rem;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Fjalla One';
    text-align: center;
    background: url(https://images.pexels.com/photos/208147/pexels-photo-208147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   
   
}
div.footer{
    
}
footer.page-footer .footer-copyright {
    overflow: hidden;
   
    background: white;
    
 
}
button.btn.btn{
    background: white;
    text-align: center;
    margin-left: 30%;
    margin-top:10%;

}
form{
    display: block;
}

  
