body{
    background-color:white;
}
h1 {
    text-align: center;
    color:black;
}
p{
    color: white;
}
.container{
   
    width: 100%;
    height: auto;
    margin-top: -2%;
    
}
.container1{
   
    width: 100%;
    height: auto;
    background-color: black;
    
}
div.row{
    display: flex;

}

.col-md-6{
    width: 51%;
    height: 600px;
    background-color: green;
    margin-left: 3%;
    margin-top: 2%;
    
}